[submodule "images/glusterfs"]
	path = images/glusterfs
	url = git@github.com:angelnu/kubernetes-glusterfs-server.git
[submodule "images/iobroker"]
	path = images/iobroker
	url = git@github.com:angelnu/ioBroker.docker.git
[submodule "images/mdns-repeater"]
	path = images/mdns-repeater
	url = git@github.com:angelnu/docker-mdns-repeater.git
[submodule "images/keepalived"]
	path = images/keepalived
	url = git@github.com:angelnu/docker-keepalived.git
[submodule "images/ccu2"]
	path = images/ccu2
	url = git@github.com:angelnu/docker-ccu2.git
[submodule "images/smtp"]
	path = images/smtp
	url = git@github.com:angelnu/docker-smtp.git
[submodule "images/cifs_plugin"]
	path = images/cifs_plugin
	url = git@github.com:angelnu/cifs_k8s_plugin.git
[submodule "tt-rss"]
	path = images/tt-rss
	url = git@github.com:angelnu/docker-ttrss.git
