[submodule "images/glusterfs"]
	path = images/glusterfs
	url = git@github.com:angelnu/kubernetes-glusterfs-server.git
[submodule "images/iobroker"]
	path = images/iobroker
	url = git@github.com:angelnu/ioBroker.docker.git
[submodule "images/mdns-repeater"]
	path = images/mdns-repeater
	url = git@github.com:angelnu/docker-mdns-repeater.git
[submodule "images/keepalived"]
	path = images/keepalived
	url = git@github.com:angelnu/docker-keepalived.git
