[masters]
#home.angelnu.com name=home.angelnu.com
pi1.angelnu.com  name=pi1.angelnu.com
pi2.angelnu.com  name=pi2.angelnu.com
pi3.angelnu.com name=pi3.angelnu.com

[nodes]

[all:vars]
ansible_user=root
